*{
    border:0;
    padding:0;
    margin:0;
    background-image: url("background.jpg");
}

canvas{
    position: relative;
    top: 10px;
    left:370px;
    border: 1px solid gray;
}

#controls{
    position: absolute;
    top:10px;
    left:5px;
    padding:20px;
    border: 1px solid gray;
    
    border-radius: 10px;
    
}
#pencil_button {
    background-image: url("pencil_button.png");
}

.lightBorder {
    border: 2px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    margin: 4px;
}

#clearCanvas {
    margin-top: 30px;
}